<div class="container color-dark">
	<div class="col hide">
		<p>Добавить новую цель</p>
	</div>
	<div class="col">
		<p>Список целей ({{ itemCount }})</p>
	</div>
</div>
<div class="container color-light" [@goals]="goals.length">
	<div class="col">
		<p class="sm">Используйте форму ниже что бы добавить что нужно сделать</p>

		<form>
			<input type="text" class="txt" name="item" placeholder="Новая цель" [(ngModel)]="goalText">
			<p class="current-goal">{{ goalText }}</p>
			<input type="submit" class="btn" value="Добавить" (click)="addItem()">
		</form>
	</div>
	<div class="col">
		<p class="goal-container" *ngFor="let goal of goals; let i = index" >
			{{ goal }}
			<span class="delete" (click)="removeItem(i)">&times;</span>
		</p>
	</div>
</div>

